.flexcontainer{
			display: flex;
			flex-direction: row;
			border:none;margin: 1%
			width: 98%;
			padding: 1%

		}
		.a{
			width: 10%;
		}
		.b{
			width: 80%;
			text-align: center
		}.c{
			width: 10%;
		}
		.a img,.c img{
			width: 100%;
		}
		 table,th,td{
				border:1px solid black;
				text-align: center;	
			}